@import '~antd/dist/antd.css';
.mt-20{
  margin-top: 20px;
}
.capitalize {
  text-transform: capitalize;
}
.ml-10{
  margin-left: 10px;
}
.height250{
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-container{
  border: 1px solid;
  padding: 14px;
  overflow-y: auto;
}
.image-style{
  width: 90%;
  padding-top: 7px;
  height: 95%;
}
.generate-report{
  height: 100vh;
  overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}
.report-scroll{
  margin-top: 15px;
  height: 100vh; 
  overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}
.button-properties{
  display: block;
  float: right;
}
.generate-button{
  position: fixed;
    top: 105px;
    right: 42px;
}
.user-header{
  display: inline-block;
    color: snow;
    font-size: 24px;
    font-family: fantasy;
    margin-left: -23px;
}
.header-height{
  height: 70px;
}
.avatar-div{
  display: inline;
    float: right;
}
.avartar-header{
  font-size: 15px;
  color: aliceblue;
  margin-left: 5px;
}
.report-header{
  position: fixed;
    top: 120px;
    left: 222px;
}
.non-header{
  position: fixed;
    top: 100px;
    left: 46%;
}
.main{
  overflow-y: scroll;
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  height: 100vh;
}