@import '~antd/dist/antd.css';
.container {
     height: 622px;
    display: flex;
    justify-content: center;
    text-align: center;
  background: #ececec;
}
.mt-20{
  margin-top: 20px;
}
.capitalize {
  text-transform: capitalize;
}
.ml-10{
  margin-left: 10px;
}
.height250{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-container{
  height: 120px;
  border: 1px solid;
  padding: 14px;
  /* width: 200px; */
  overflow-y: auto;
}
.generate-report{
  height: 200px; 
  overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}
.report-scroll{
  height: 500px; 
  overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}
.button-properties{
  display: block;
  float: right;
}
.generate-button{
  display: flex;
    justify-content: end;
    margin-bottom: 20px;
}